@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

* html {
  box-sizing: border-box;
}
* *,
* *:before,
* *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url(loremipsum);
}
.pöntun {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 1rem;
}

.pöntun .left {
  align-items: right;
}

.pöntun .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.88rem;
  margin-top: 1rem;
}

.pöntun .inputs input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #000;
  background: #FEFEFE;
  height: 2.5rem;
}

.buyer {
  margin-top: 1rem;
}

.pöntun fieldset {
  border: 0;
}

.pöntun legend {
  padding-top: 1rem;
}

.order button {
  border-radius: 5px;
  border: 1px solid #3C2A1E;
  background: #6F4E37;
  margin-left: 15px;
}

.order button p {
  color: #FFF;
}

.karfa .products .product {
  display: flex;
}

.titill {
  padding-left: 4rem;
  flex: 1;
  align-self: center;
}

.verd {
  align-self: center;
}

.total {
  display: flex;
}

.total p:nth-child(1) {
  flex: 1;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/******* Footer ******/

footer {
  background-color: #3C2A1E;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: center;
}

.bigFooter {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.bigFooter ul {
  list-style: none;
}

.smallFooter {
display: flex;
flex-direction: column;
grid-column: span 3;
margin: 1rem;
text-align: left;
}

@media (min-width: 1000px) {
  .smallFooter {
    grid-column: span 1;
  }
}

.smallFooter h4{
  border-bottom: yellow solid 2px;
  margin-bottom: 0.5rem;
}

footer p {
  margin-top: 0.5rem;
  border-top: yellow solid 2px;
  margin-left: 10%;
  margin-right: 10%;
}

/*Vara scss*/
.modurbord {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.modurbord .mynd img {
  width: 100%;
}

.modurbord .um-mynd h1 {
  margin: 0;
}

.modurbord .um-mynd {
  display: flex;
  flex-direction: column;
}

.modurbord .um-mynd .tags {
  display: flex;
}

.modurbord .um-mynd .tags p {
  background-color: #E1CEC2;
  padding: 5px;
  border-radius: 5px;
}

.modurbord .um-mynd .tags p:nth-child(1) {
  margin-right: 1rem;
}

.modurbord .um-mynd .purchase-info {
  display: flex;
}

.modurbord .um-mynd .purchase-info p {
  flex: 1;
}

.modurbord .um-mynd .purchase-info button {
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #000;
  background: #FEFEFE;
  height: 2.5rem;
}

.descriptions {
  display: grid;
  margin-bottom: 4rem;
}

.descriptions .describe {
  margin-right: 20%;
  margin-left: 20%;
  height: fit-content;
}

.describe:nth-child(1) {
  padding-top: 4rem;
}

.descriptions h2 {
  margin-bottom: 4rem;
}

.Connections {
  background-color: #E1CEC2;
}

.Connections h2 {
  padding-top: 2rem;
}

/*# sourceMappingURL=styles.css.map */

