.pöntun {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 1rem;
  }
  
  form {
  }
  
  .left {
    align-items: right;
  }
  
  
  .pöntun .inputs {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 1rem;
  }
  
  .pöntun .inputs input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  border: 1px solid #000;
  background: #FEFEFE; 
  height: 2.5rem;
  align-self: stretch; 
  }
  
  .pöntun .inputs .left input {
    width: 90%;
  }
  
  .buyer {
    margin-top: 1rem;
  }
  
  fieldset {
    border: 0;
  }
  
  legend {
    padding-top: 1rem;
  }
  
  .order button {
    border-radius: 5px;
    border: 1px solid #3C2A1E;
    background: #6F4E37; 
  
    display: flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 10px;
  }
  
  .karfa .products .product {
    display: flex;
  }
  
  .titill {
    padding-left: 4rem;
    flex: 1;
  }
  
  .total {
    display: flex;
  }
  
  .total p:nth-child(1) {
    flex: 1;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }